.card {
    border-radius: 1rem;
}

.container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 20px;  
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.content-container {
    display: grid;
    grid-template-columns: 22fr 1fr;
    position: relative;
}

.content{
    width: 100%;
    margin-bottom: 10px;
 }

 .privacy {
    position: absolute;
    width: 4rem;
    top: 1rem;
    right: 1.2rem;
    padding: 0.2rem;
 }

 ::placeholder {
    font-family: sans-serif;
 }


.btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}