.card {
    border-radius: 1rem;
}

.container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 20px;  
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.content-container {
    display: grid;
    grid-template-columns: 90% 10%;
}

.content{
    width: 95%;
    margin-bottom: 10px;
 }

 .privacy {

 }

 ::placeholder {
    font-family: sans-serif;
 }


.btn {
    display: flex;
    justify-content: flex-end;
}