
.container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;  
    padding: 25px;
    margin: 20px 0px 20px 0px;
    /* background-color: var(--seasalt); */
    
    /* align-items: center; */
    /* width: 50%; */
}

.author {
    margin: 0.2rem 0.2rem 0 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--ultra-violet);
}
.avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.fname {
}
.lname {
    
}
.nname {
    
}

.content {
    margin: 10px;
}


.comments {
    display: flex;
    justify-content: flex-end;
}