:root {
    /* CSS HEX */
    --antiflash-white: #ebebebff;
    --seasalt: #fafafaff;
    --ultra-violet: #52489cff;
    --ultra-violet-0: #6259a5ff;
    --slate-blue: #7068adff;
    --cinnabar: #e94f37ff;
    --asparagus: #698f3fff;
}


