.comment {
    display: flex;
    gap: 10px;
    background: var(antiflash-white);
}

.author {
    margin: 0.2rem 0.2rem 0 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--ultra-violet);
}

.comment-avatar {
    margin-right: 0.5rem;
}

.content {
    margin: 0 10px;
}

.create-at {
    margin: 0 10px;;
}