.card {
    border-radius: 1rem;
}

.container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 20px;  
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.content{
    border: none;
    outline: none;

    border-radius: 1rem;
    resize: none;
    width: 90%;
    margin-bottom: 10px;
    padding: 20px;
    font-family: sans-serif;
 }

 ::placeholder {
    font-family: sans-serif;
 }


.btn {
    display: flex;
    justify-content: flex-end;
}