
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.left {
    width: 20%;
}

.mid {
    /* border: 1px solid black;
    border-radius: 20px; */
    width: 50%;
    max-width: 550px;
}

.right {
    width: 20%;
    /* border: 1px solid black;
    border-radius: 20px; */
}