@import "../var.css";

.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: var(--ultra-violet, purple);
    margin: 5rem 0 0 0;
}

.link-container {
   
}

.nav-link-btn {
    /* text-decoration: none; */
    margin: 1rem 0;
    width: 60%;
}

