@import "../var.css";

.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: var(--ultra-violet, purple);
    margin: 5rem 0 0 0;
}

.link-container {
    margin: 5rem 0;
    width: 100%;
}

.nav-link-btn {
    margin: 0 auto;
    width: 60%;
}
