@import "../var.css";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;    

}

.container {
    display: flex;
    flex-direction: column;
    align-items: auto;
    /* margin: 5rem 0; */
    width: 50%;
    min-width: 600px;
}

.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: var(--ultra-violet, purple);
    margin: 5rem 0 3rem 0;
}
.nav-link {
    margin: 0 auto;
    width: 60%;
}

.nav-link-btn {
    margin: 3rem 0%;
    width: 100%;
}
