.title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: var(--ultra-violet, purple);
    margin: 5rem 0 0 0;
}

.container {
    margin: 2.5rem 12rem;
}

.label {
    margin-left: 10px;
    margin-bottom: -10px;
    color: grey;
}

.refresh {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}