@import "../var.css";

.title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: var(--ultra-violet, purple);
    margin: 5rem 0 0 0;
}

.reg-input {
    width: 65%;
    margin: 0.2rem 0;
}

.img-preview {
    border-radius: 50%;
}

.sub-btn {
    margin: 2rem 0;
    width: 60%;
}