@import "../var.css";

.input-container {
    margin: 1.25rem 0;
}

.input {
    background-color: var(--antiflash-white, white);
    outline: solid var(--ultra-violet, purple);
    border: 0.2rem solid transparent;
    padding: 1.25rem;
    border-radius: 0.6rem;
    width: 75%;
}

.input:focus {
    border: 0.2rem solid var(--ultra-violet, purple);
}