.sidebar {
    position: fixed;
    top: 60px;
    height: 100%;
    width: 220px;
    right: -205px;
    background-color: var(--ultra-violet);
    opacity: 50%;
    z-index: 998;
    transition: background-color 0.3s ease;
    transition: right 0.3s ease;
}

.sidebar.hovered {
    opacity: 80%;
    right: -200px;
}

.show-sidebar-btn {
    position: fixed;
    top: 65%;
    right: 15px;
    height: 50px;
    width: 10px;
    /* padding: 1rem; */
    text-align: center;
    justify-content: center;
    background-color: var(--ultra-violet);
    color: var(--seasalt);
    border-radius: 1.2rem 0 0 1.2rem;
    opacity: 50%;
    transition: background-color 0.3s ease;
    transition: right 0.3s ease;
}
.show-sidebar-btn.hovered {
    opacity: 80%;
    right: 20px;
}

.sidebar.show-chat {
    opacity: 100%;
    /* right +205px */
    right: 0px;
}

.show-sidebar-btn.show-chat {
    opacity: 100%;
    right: 220px;
}