
.nav {
    background-color: var(--seasalt);
    width: 10%;
    height: 100vh;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-top: 50px;
    text-decoration: none;
    list-style: none;

}